<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>PUSHER_DEV_KEY</key>
        <string>8bd3fe1994164f9b83f6</string>
        <key>PUSHER_PROD_KEY</key>
        <string>79576dbee58121cac49a</string>
        <key>SENTRY_KEY</key>
        <string>648fb68f721d450e8ede94a914e5b4c6:9bc0f235f45c4a6aaa05dc709c4b6c4a</string>
    </dict>
</plist>